/* css for all */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}


.triple{
    height: 100px;
    width: 100px;
    mix-blend-mode: multiply;
}

.text-right{
 text-align: right;
}

.text-center{
 text-align: center;
}


.clearfix{
    clear: both;
    float:none;
}

a{
    color: #4863A0;
    text-decoration: none;
}
a:hover{
    color: tomato;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: #4863A0;
    color:white;
    cursor: pointer;

}

.btn-primary:hover{
    background-color: tomato;
}

h2{
    color:#2f3542;  
    font-size: 2rem;
    margin: 2% 0;
}


/* css for navbar section */
.navbar{
    background-color: #ececec;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    width:50%;
    display: flex;
    float: left;

}


.text{
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
}


.menu{
    line-height: 100px;
    font-size: larger;
    font-weight: 500;
}

.menu ul{
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding:1%;
}

/* css for navbar section ends */


/* css for product search section starts*/

.product-search{
    /* background-image: url(/images/ground.jpg); */
    background-image: url(../images/post/ground.jpg);
    height: 100%;
    padding:12.5% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.product-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
/* css for product search section ends */





/* css for product menu starts */
.product-menu{
    background-color: #ececec;
    padding: 4% 0;
}

.product-menu-box{
    border: 1px solid #cce7d0 ;
    width:20%;
    margin-left: 7%;
    margin-top: 2%;
    float: left;
    padding: 2%;
    background-color: white;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden ;
}
.product-menu-box:hover{
    box-shadow: 20px 20px 34px rgba(70,62,221,0.1);

}




.product-price{
   font-size: 1.2rem;
   margin:2% 0;

}

.product-details{
    font-size: 1rem;
}

.img-responsive{
    height:250px;
}

/* css for product menu ends */


/* css for social starts */

.social ul{
    list-style-type: none;
}

.social ul li{
    display: inline;
    padding:1%;
}
.social {
    background-color: #ececec;
}
/* css for social ends */



.footer{
    background-color: #ececec;
}

.contact{
    display: grid;
}